/* Zeroing */

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* End zeroing */

@font-face {
  font-family: Larsseit;
  font-display: swap;
  src: url("../fonts/Larsseit-Medium.woff2") format("woff2"), url("../fonts/Larsseit-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Larsseit;
  font-display: swap;
  src: url("../fonts/Larsseit.woff2") format("woff2"), url("../fonts/Larsseit.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Larsseit;
  font-display: swap;
  src: url("../fonts/Larsseit-Light.woff2") format("woff2"), url("../fonts/Larsseit-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Larsseit;
  font-display: swap;
  src: url("../fonts/Larsseit-Bold.woff2") format("woff2"), url("../fonts/Larsseit-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: Larsseit;
  font-weight: 400;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 11px;
}

body::-webkit-scrollbar-track {
  background: #fff;
}

body::-webkit-scrollbar-thumb {
  background-color: #F9B640;
  border-radius: 10px;
  border: 3px solid #fff;
}

body.lock {
  overflow: hidden;
}

.container {
  width: 80%;
  min-height: inherit;
  max-width: 1130px;
  margin: 0 auto;
  padding: 100px 0;
}

.container_full-weight {
  width: 100% !important;
  max-width: 1410px;
}

.logo {
  color: #62D0DF;
  font-weight: 700;
  font-size: 19px;
}

.text-block {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 40px;
}

/* Header style */

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 80px;
  -webkit-transition: background-color 0.5s ease 0s, height 1s ease 0s;
  -o-transition: background-color 0.5s ease 0s, height 1s ease 0s;
  transition: background-color 0.5s ease 0s, height 1s ease 0s;
}

.header .container {
  padding: 20px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 30px 1fr 30px auto;
  grid-template-columns: auto 1fr auto;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
      grid-template-areas: "logo nav buttons";
  gap: 30px;
}

.header .logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
}

.header_translucent {
  background-color: rgba(244, 249, 226, 0.7);
}

.header_transparent {
  background-color: rgba(244, 249, 226, 0);
}

.header_opaque {
  background-color: #F4F9E2;
}

.header__nav {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: nav;
}

.nav__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nav__wrapper a {
  color: #22356F;
  -webkit-transition: color 0.5s ease 0s;
  -o-transition: color 0.5s ease 0s;
  transition: color 0.5s ease 0s;
}

.nav__wrapper a:hover {
  color: #000a27;
}

.nav__wrapper li {
  position: relative;
}

.nav__wrapper li::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 0%;
  max-width: 200px;
  height: 2px;
  background-color: #22356F;
  -webkit-transition: width 0.5s ease 0s;
  -o-transition: width 0.5s ease 0s;
  transition: width 0.5s ease 0s;
}

.nav__wrapper li.active::before {
  width: 40px;
}

.header__buttons {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  grid-area: buttons;
}

.header__button {
  text-transform: uppercase;
  font-size: 14px;
  background-color: #62D0DF;
  color: #fff;
  display: block;
  padding: 13px 30px;
  border-radius: 25px 25px;
  -webkit-transition: background-color 0.5s ease 0s;
  -o-transition: background-color 0.5s ease 0s;
  transition: background-color 0.5s ease 0s;
}

.header__button:hover {
  background-color: #6eebfc;
}

.header__button:active {
  background-color: #37b6c7;
}

.header__burger {
  display: none;
  grid-area: burger;
  position: relative;
  width: 30px;
  height: 25px;
}

.header__burger::before,
.header__burger::after,
.header__burger span {
  width: 30px;
  height: 2px;
  position: absolute;
}

.header__burger::before,
.header__burger::after {
  content: "";
  background-color: #22356F;
}

.header__burger::before {
  top: 0;
  left: 0;
  -webkit-transition: top 0.5s ease 0.5s, -webkit-transform 0.5s ease 0s;
  transition: top 0.5s ease 0.5s, -webkit-transform 0.5s ease 0s;
  -o-transition: transform 0.5s ease 0s, top 0.5s ease 0.5s;
  transition: transform 0.5s ease 0s, top 0.5s ease 0.5s;
  transition: transform 0.5s ease 0s, top 0.5s ease 0.5s, -webkit-transform 0.5s ease 0s;
}

.header__burger::after {
  bottom: 0;
  left: 0;
  -webkit-transition: bottom 0.5s ease 0.5s, -webkit-transform 0.5s ease 0s;
  transition: bottom 0.5s ease 0.5s, -webkit-transform 0.5s ease 0s;
  -o-transition: transform 0.5s ease 0s, bottom 0.5s ease 0.5s;
  transition: transform 0.5s ease 0s, bottom 0.5s ease 0.5s;
  transition: transform 0.5s ease 0s, bottom 0.5s ease 0.5s, -webkit-transform 0.5s ease 0s;
}

.header__burger span {
  display: block;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background-color: #22356F;
  -webkit-transition: opacity 1s ease 0.5s;
  -o-transition: opacity 1s ease 0.5s;
  transition: opacity 1s ease 0.5s;
}

.header__burger_active span {
  opacity: 0;
  -webkit-transition: opacity 1s ease 0s;
  -o-transition: opacity 1s ease 0s;
  transition: opacity 1s ease 0s;
}

.header__burger_active::before {
  -webkit-transform: translateY(-50%) rotate(45deg);
      -ms-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
  top: 50%;
  -webkit-transition: top 0.5s ease 0s, -webkit-transform 0.5s ease 0.5s;
  transition: top 0.5s ease 0s, -webkit-transform 0.5s ease 0.5s;
  -o-transition: top 0.5s ease 0s, transform 0.5s ease 0.5s;
  transition: top 0.5s ease 0s, transform 0.5s ease 0.5s;
  transition: top 0.5s ease 0s, transform 0.5s ease 0.5s, -webkit-transform 0.5s ease 0.5s;
}

.header__burger_active::after {
  -webkit-transform: translateY(50%) rotate(-45deg);
      -ms-transform: translateY(50%) rotate(-45deg);
          transform: translateY(50%) rotate(-45deg);
  bottom: 50%;
  -webkit-transition: bottom 0.5s ease 0s, -webkit-transform 0.5s ease 0.5s;
  transition: bottom 0.5s ease 0s, -webkit-transform 0.5s ease 0.5s;
  -o-transition: bottom 0.5s ease 0s, transform 0.5s ease 0.5s;
  transition: bottom 0.5s ease 0s, transform 0.5s ease 0.5s;
  transition: bottom 0.5s ease 0s, transform 0.5s ease 0.5s, -webkit-transform 0.5s ease 0.5s;
}

.header_active {
  height: 50%;
}

.header_active .header__nav {
  top: 0;
  opacity: 1;
  visibility: visible;
}

.header_active .header__buttons {
  top: 0;
  opacity: 1;
  visibility: visible;
}

/* End header style */

/* Front style */

.front {
  position: relative;
  min-height: 100vh;
}

.front .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto 0 10%;
  max-width: 1130px;
}

.front__bg {
  width: 80%;
  height: 100%;
  min-height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  background-color: #F4F9E2;
}

.front__text {
  width: 41%;
  color: #22356F;
}

.front__text .title {
  font-size: 44px;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: -1px;
  text-transform: uppercase;
}

.front__text .description {
  font-size: 20px;
  line-height: 1.7;
}

.front__text .text__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.front__text .text__buttons a {
  text-transform: uppercase;
  font-size: 14px;
  color: #F9B640;
  display: block;
}

.front__text .text__buttons a:first-child {
  background-color: #F9B640;
  color: #fff;
  padding: 13px 30px;
}

.front__decorate {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.front__decorate .decorate__item {
  width: 800px;
  height: 500px;
  background-color: #EDFDFF;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-clip-path: inset(0 0 0 round 180px);
          clip-path: inset(0 0 0 round 180px);
}

.front__decorate .decorate__item img {
  position: absolute;
  top: -100px;
  left: -100px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: rotate(35deg) scale(1.6);
      -ms-transform: rotate(35deg) scale(1.6);
          transform: rotate(35deg) scale(1.6);
  overflow: hidden;
}

.front__decorate .decorate__item:nth-child(1) {
  top: 80px;
  right: -120px;
  -webkit-transform: rotate(-52deg);
      -ms-transform: rotate(-52deg);
          transform: rotate(-52deg);
}

.front__decorate .decorate__item:nth-child(2) {
  top: 150px;
  right: -150px;
  -webkit-transform: rotate(-35deg);
      -ms-transform: rotate(-35deg);
          transform: rotate(-35deg);
}

/* End front style */

/* Why style */

.why {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #62D0DF;
  position: relative;
}

.why .container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 10%;
  max-width: 633.4px;
}

.why__text {
  color: #fff;
  width: 70%;
  position: relative;
  z-index: 1;
}

.why__text .title {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.3;
}

.why__text .description {
  font-size: 19px;
  font-weight: 700;
  line-height: 1.7;
}

.little-text {
  font-size: 16px;
  font-weight: 400;
}

.why__side-image {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 400px;
          flex: 1 0 400px;
}

.why__side-image img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* End why style */

/* About style */

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
}

.about .container {
  width: 90%;
  padding: 100px 0 0;
}

.about .container_full-weight {
  padding: 0 0 100px;
}

.about .container_full-weight h3 {
  color: rgba(34, 53, 111, 0.5);
  text-transform: uppercase;
  font-size: 15px;
  text-align: center;
}

.about__text {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #22356F;
}

.about__text .title {
  text-transform: uppercase;
  font-size: 15px;
}

.about__text .description {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
  font-size: 20px;
  font-weight: 500;
}

.about__items,
.services__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 250px;
  margin: 20px 0 0;
}

.about__items .item,
.services__items .item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  min-width: 200px;
  min-height: 100%;
  position: relative;
  background-color: #FFE2DE;
  padding: 70px 40px;
}

.about__items .item:nth-child(2),
.services__items .item:nth-child(2) {
  background-color: #C4E769;
}

.about__items .item:nth-child(3),
.services__items .item:nth-child(3) {
  background-color: #62D0DF;
}

.about__items .item:nth-child(4),
.services__items .item:nth-child(4) {
  background-color: #0052C1;
}

.about__items .item__bg,
.services__items .item__bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.about__items .item__bg img,
.services__items .item__bg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about__items .item__decorate-line,
.services__items .item__decorate-line {
  position: relative;
  top: -20px;
  border-top: 2px solid #fff;
  width: 100%;
  height: 1px;
}

.about__items .item__title,
.services__items .item__title {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  position: relative;
  margin: 0 0 0 20px;
}

.about__items .item__title::before,
.services__items .item__title::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -20px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #E9B730;
}

/* End about style */

/* Services style */

.services .container {
  padding: 0;
}

.services__items {
  min-height: 700px;
}

.services__items .item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  min-width: 300px;
  min-height: 100%;
}

.services__items .item:nth-child(1) {
  background-color: #22356F;
}

.services__items .item:nth-child(2) {
  background-color: #0052C1;
}

.services__items .item:nth-child(4) {
  background-color: #62D0DF;
}

.services__items .item:nth-child(5) {
  background-color: #DEE1FF;
}

.services__items .item:nth-child(6) {
  background-color: #8F00FF;
}

/* End services style */

/* Advantages style */

.advantages .container {
  width: 90%;
}

.advantages__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  grid-auto-rows: 1fr;
  gap: 80px;
}

.advantages__items .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 20px;
  padding: 0 60px 0 0;
}

.advantages__items .title {
  font-size: 20px;
  font-weight: 500;
  color: #22356F;
}

.advantages__items .description {
  font-size: 16px;
  line-height: 1.7;
  color: rgba(34, 53, 111, 0.5);
}

/* End advantages style */

/* Should style */

.should {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 50px;
  position: relative;
  min-height: 80vh;
}

.should .container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 1;
  padding: 100px 50px 100px 0;
  max-width: 800px;
}

.should__side-image {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 300px;
          flex: 1 0 300px;
}

.should__side-image img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.should__text,
.contact__text {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 100px;
  color: #22356F;
}

.should__text .title,
.contact__text .title {
  text-transform: uppercase;
  font-size: 17px;
}

.should__text .description,
.contact__text .description {
  font-size: 26px;
  font-weight: 700;
  line-height: 1.7;
}

.should__text .description a,
.contact__text .description a {
  color: #62D0DF;
}

.should__text-wrapper,
.contact__text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 50px;
}

.should__buttons a,
.contact__buttons a {
  text-transform: uppercase;
  font-size: 14px;
  color: #F9B640;
  display: block;
}

/* End should style */

/* Contact style */

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 50px;
  position: relative;
  min-height: 80vh;
  background-color: #22356F;
}

.contact .container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 1;
  margin: 0 10%;
  max-width: 800px;
}

.contact__text {
  color: #fff;
}

.contact__text h3 {
  font-size: 40px;
  font-weight: 700;
}

.contact__text .description {
  font-weight: 400;
}

.contact__side-image {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 300px;
          flex: 1 0 300px;
}

.contact__side-image img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contact__buttons a {
  color: #62D0DF;
}

/* End contact style */

/* Footer style */

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 50px;
  position: relative;
}

.footer .container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 1;
}

.footer__side-image {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 400px;
          flex: 1 0 400px;
}

.footer__side-image img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 50px;
}

.footer__columns .column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 20px;
}

.footer__columns .column__title {
  color: #22356F;
  font-weight: 700;
  text-transform: uppercase;
}

.footer__columns .column__content {
  color: rgba(34, 53, 111, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer__columns .tel {
  color: rgba(34, 53, 111, 0.5);
}

.footer__columns .mail {
  color: #62D0DF;
}

.footer__contact .column__content p:first-child {
  margin: 0 0 20px;
}

/* End footer style */

@media (min-width: 800px) {
  .why__side-image {
    max-width: 489px;
  }

  .should__side-image {
    max-width: 450px;
  }
}

@media (min-width: 1400px) {
  .front .container {
    margin: 0 auto;
  }
}

@media (min-width: 1410px) {
  .why .container {
    margin: 0 auto;
  }
}

@media (min-width: 1700px) {
  .front__decorate .decorate__item:nth-child(1),
  .front__decorate .decorate__item:nth-child(2) {
    left: 60%;
  }
}

@media (max-width: 1300px) {
  .front__text {
    width: 70%;
  }

  .front__decorate .decorate__item img {
    opacity: 0.5;
  }
}

@media (max-width: 1200px) {
  .why__text {
    width: 100%;
  }
}

@media (max-width: 1100px) {
  .advantages__items {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  .footer__side-image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 300px;
            flex: 1 1 300px;
  }
}

@media (max-width: 950px) {
  .front__decorate .decorate__item img {
    opacity: 0.3;
  }
}

@media (max-width: 900px) {
  .why__side-image {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 300px;
            flex: 1 0 300px;
  }
}

@media (max-width: 870px) {
  .about__text .text__decorate {
    display: none;
  }

  .about__text .description {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 66%;
            flex: 0 1 66%;
  }
}

@media (max-width: 800px) {
  .why {
    display: block;
  }

  .why__side-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  .why__side-image img {
    -webkit-filter: brightness(30%);
            filter: brightness(30%);
  }

  .why__text {
    width: 100%;
  }

  .should {
    display: block;
  }

  .should__side-image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
  }

  .contact {
    display: block;
  }

  .contact__side-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  .contact__side-image img {
    -webkit-filter: brightness(30%);
            filter: brightness(30%);
  }

  .footer .container {
    margin: 0 10%;
  }

  .footer__side-image {
    display: none;
  }
}

@media (max-width: 700px) {
  .header__nav {
    position: relative;
    top: -200px;
    opacity: 0;
    visibility: hidden;
    margin: 0 0 20px 0;
    -webkit-transition: top 1s ease 0s, visibility 1s ease 0s, opacity 1s ease 0s;
    -o-transition: top 1s ease 0s, visibility 1s ease 0s, opacity 1s ease 0s;
    transition: top 1s ease 0s, visibility 1s ease 0s, opacity 1s ease 0s;
  }

  .header__burger {
    display: block;
  }

  .header .container {
        grid-template-areas: "logo buttons burger" "nav nav nav";
    gap: 50px;
  }

  .header .logo {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .header__nav {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
  }

  .header__buttons {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }

  .header__burger {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
  }
}

@media (max-width: 650px) {
  .front__bg {
    width: 100%;
  }

  .front__text {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .about__text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 470px) {
  .header .container {
        grid-template-areas: "logo logo burger" "nav nav nav" "buttons buttons buttons";
  }

  .header__buttons {
    position: relative;
    top: -200px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: top 1s ease 0s, visibility 1s ease 0s, opacity 1s ease 0s;
    -o-transition: top 1s ease 0s, visibility 1s ease 0s, opacity 1s ease 0s;
    transition: top 1s ease 0s, visibility 1s ease 0s, opacity 1s ease 0s;
  }
  .header .logo {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
  .header__nav {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
  .header__buttons {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
  .header__burger {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
}

@media (max-width: 400px) {
  .front__text .text__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .footer__columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media (max-width: 370px) {
  .front__text .title {
    font-size: 40px;
  }
}