/* Zeroing */

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* End zeroing */

@font-face {
  font-family: Larsseit;
  font-display: swap;
  src: url("../fonts/Larsseit-Medium.woff2") format("woff2"), url("../fonts/Larsseit-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Larsseit;
  font-display: swap;
  src: url("../fonts/Larsseit.woff2") format("woff2"), url("../fonts/Larsseit.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Larsseit;
  font-display: swap;
  src: url("../fonts/Larsseit-Light.woff2") format("woff2"), url("../fonts/Larsseit-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Larsseit;
  font-display: swap;
  src: url("../fonts/Larsseit-Bold.woff2") format("woff2"), url("../fonts/Larsseit-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: Larsseit;
  font-weight: 400;
  overflow-x: hidden;
}

.container {
  width: 80%;
  min-height: inherit;
  max-width: 1130px;
  margin: 0 auto;
  padding: 100px 0;
}

.logo {
  color: #62D0DF;
  font-weight: 700;
  font-size: 19px;
}

.text-block {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 40px;
}

/* Front style */

.front {
  position: relative;
  min-height: 100vh;
}

.front .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto 0 10%;
}

.front__bg {
  width: 80%;
  height: 100%;
  min-height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  background-color: #F4F9E2;
}

.front__text {
  width: 41%;
  color: #22356F;
}

.front__text .title {
  font-size: 44px;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: -1px;
  text-transform: uppercase;
}

.front__text .description {
  font-size: 20px;
  line-height: 1.7;
}

.front__text .text__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.front__text .text__buttons a {
  text-transform: uppercase;
  font-size: 14px;
  color: #F9B640;
  display: block;
}

.front__text .text__buttons a:first-child {
  background-color: #F9B640;
  color: #fff;
  padding: 13px 30px;
}

.front__decorate {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.front__decorate .decorate__item {
  width: 800px;
  height: 500px;
  background-color: #EDFDFF;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-clip-path: inset(0 0 0 round 180px);
          clip-path: inset(0 0 0 round 180px);
}

.front__decorate .decorate__item img {
  position: absolute;
  top: -100px;
  left: -100px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: rotate(35deg) scale(1.6);
      -ms-transform: rotate(35deg) scale(1.6);
          transform: rotate(35deg) scale(1.6);
  overflow: hidden;
}

.front__decorate .decorate__item:nth-child(1) {
  top: 80px;
  right: -120px;
  -webkit-transform: rotate(-52deg);
      -ms-transform: rotate(-52deg);
          transform: rotate(-52deg);
}

.front__decorate .decorate__item:nth-child(2) {
  top: 150px;
  right: -150px;
  -webkit-transform: rotate(-35deg);
      -ms-transform: rotate(-35deg);
          transform: rotate(-35deg);
}

/* End front style */

/* Why style */

.why {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #62D0DF;
  position: relative;
}

.why .container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 10%;
}

.why__text {
  color: #fff;
  width: 70%;
  position: relative;
  z-index: 1;
}

.why__text .title {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.3;
}

.why__text .description {
  font-size: 19px;
  font-weight: 700;
  line-height: 1.7;
}

.little-text {
  font-size: 16px;
  font-weight: 400;
}

.why__side-image {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 400px;
          flex: 1 0 400px;
}

.why__side-image img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* End why style */

@media (min-width: 1700px) {
  .front__decorate .decorate__item:nth-child(1),
  .front__decorate .decorate__item:nth-child(2) {
    left: 60%;
  }
}

@media (max-width: 1300px) {
  .front__text {
    width: 70%;
  }

  .front__decorate .decorate__item img {
    opacity: 0.5;
  }
}

@media (max-width: 1200px) {
  .why__text {
    width: 100%;
  }
}

@media (max-width: 950px) {
  .front__decorate .decorate__item img {
    opacity: 0.3;
  }
}

@media (max-width: 900px) {
  .why__side-image {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 300px;
            flex: 1 0 300px;
  }

  .why__side-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  .why__side-image img {
    -webkit-filter: brightness(30%);
            filter: brightness(30%);
  }

  .why__text {
    width: 100%;
  }
}

@media (max-width: 650px) {
  .front__bg {
    width: 100%;
  }

  .front__text {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .front__text .text__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (max-width: 370px) {
  .front__text .title {
    font-size: 40px;
  }
}